img2dataset
fastparquet
webdataset
matplotlib
jupyter
tqdm
gdown
transformers
numpy
scikit-learn
sentencepiece
paddleocr
ftfy 
regex 
clip @ git+https://github.com/openai/CLIP.git
einops
opencv-python
p_tqdm
weighted_levenshtein